# LocalStack Resource Names
# Last known good configuration for the localstack community edition
LOCALSTACK_IMAGE=localstack/localstack:4.14.0

S3_KTA_DOCUMENTS_BUCKET=local-kta-documents-bucket
S3_PAGE_BUCKET=document-page-bucket
SQS_DOCUMENT_QUEUE=cica-document-search-queue

# Source document for automatic provisioning in LocalStack
SRC_S3_BUCKET=mod-platform-sandbox-kta-documents-bucket
# Note a comma delimited list of source documents for testing the ingestion of multiple documents can be used, the buckets and files must be present in our MOD platform sandbox
SRC_S3_KEY=26-711111/Case1_TC19_50_pages_brain_injury.pdf,26-711112/Case1_TC19_50_pages_brain_injury.pdf,26-711113/Case1_TC19_50_pages_brain_injury.pdf


# Config for OpenSearch Bedrock remote model for query-time
# embeddings using the same Titan model used at ingestion.
# NOTE this uses the AWS_MOD_PLATFORM_* credentials  to connect to the real AWS, so that it can access the same Bedrock model used at ingestion time. This is necessary to ensure that the embeddings generated at query time are compatible with those generated at ingestion time.
# This will require daily rotation of the MOD Platform AWS credentials used in this local development environment
# If working with the local development environment
BEDROCK_EMBEDDING_MODEL_ID=amazon.titan-embed-text-v2:0

# Local AWS configuration for connecting to the *real* AWS to get the source document
# Obtain these temporary credentials from the MOD Platform team's authentication service
AWS_REGION=eu-west-2
AWS_MOD_PLATFORM_ACCESS_KEY_ID=MOD_AWS_ACCESS_KEY_ID
AWS_MOD_PLATFORM_SECRET_ACCESS_KEY=MOD_AWS_SECRET_ACCESS_KEY
AWS_MOD_PLATFORM_SESSION_TOKEN=MOD_AWS_SESSION_TOKEN