# All keys should be UPERCASE with underscores.
# No quotes around values.

# OpenSearch configuration
# A single proxy/base URL for the OpenSearch cluster. This is a required field.
OPENSEARCH_PROXY_URL=http://localhost:9200
OPENSEARCH_CHUNK_INDEX_NAME=page_chunks
OPENSEARCH_PAGE_METADATA_INDEX_NAME=page_metadata

# Local AWS configuration
AWS_TEXTRACT_ACCESS_KEY_ID=AWS_TEXTRACT_ACCESS_KEY_ID
AWS_TEXTRACT_SECRET_ACCESS_KEY=AWS_TEXTRACT_SECRET_ACCESS_KEY
AWS_TEXTRACT_SESSION_TOKEN=AWS_TEXTRACT_SESSION_TOKEN
AWS_REGION=aws_region

# Page processing configuration
AWS_S3_PAGE_BUCKET_URI=http://localhost:4566
AWS_S3_PAGE_BUCKET=document-page-bucket
AWS_S3_PAGE_BUCKET_AWS_ACCESS_KEY_ID=test
AWS_S3_PAGE_BUCKET_AWS_SECRET_ACCESS_KEY=test
AWS_S3_PAGE_BUCKET_AWS_SESSION_TOKEN=test

MAXIMUM_CHUNK_SIZE=80
Y_TOLERANCE_RATIO=0.5
MAX_VERTICAL_GAP=0.5
LINE_CHUNK_CHAR_LIMIT=300

LOG_LEVEL=INFO
