.env
.terraform/
coverage/
venv/
.venv
env/
.DS_STORE
.vscode
*.code-workspace
*.sha256
terraform.tfstate
.venv/
local-dev-environment/.venv/
localstack/.venv/bin/activate
redacted_data/
*.log
*.pyc
.coverage
