repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.9
    hooks:
      - id: ruff-format
      - id: ruff
        args: [--fix, local-dev-environment, src, tests]
        stages: [pre-commit, pre-push]

  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks
        args: ["--verbose", "--redact"]
        stages: [pre-commit, pre-push]

  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout

  - repo: https://github.com/astral-sh/uv-pre-commit
    # uv version.
    rev: 0.9.5
    hooks:
      - id: uv-lock

  - repo: https://github.com/astral-sh/uv-pre-commit
    # uv version.
    rev: 0.9.5
    hooks:
      - id: uv-export # updates requirements.txt from pyproject.toml
        always_run: true
        pass_filenames: false

  - repo: https://github.com/fpgmaas/deptry.git
    rev: "0.23.1"
    hooks:
      - id: deptry
        name: deptry
        description: deptry is a command line tool to check for issues with dependencies...
        language: python
        entry: .venv/bin/deptry
        # if running on Windows, use: .venv/Scripts/deptry.exe
        # Not recommended, use WSL instead.
        args: [src]
        types: [python]
        always_run: true
        pass_filenames: false
        additional_dependencies:
          - deptry

  - repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: uv run pytest --cov=src --cov=tests --cov-report=term-missing
        language: system
        types: [python]
        pass_filenames: false
      - id: update-requirements
        name: Update requirements.txt from pyproject.toml
        entry: bash -c 'uv pip compile --generate-hashes --output-file requirements.txt pyproject.toml && git add requirements.txt'
        language: system
        pass_filenames: false
        always_run: true
