# Specify cache directory
cache-dir = "~/.cache/ruff"
target-version = "py310"
line-length = 120

# Exclude specific directories from being linted
exclude = [
    ".svn",
    "CVS",
    ".bzr",
    ".hg",
    ".git",
    "__pycache__",
    ".tox",
    "venv/",
    "env/",
    ".github/",
    "githooks/",
]

# default to no fixes
respect-gitignore = true

[lint]
ignore = [
    "E731",
    "W191",
    "E111",
    "E114",
    "E117",
    "Q000",
    "Q001",
    "Q002",
    "Q003",
    "COM812",
    "COM819",
]
select = ["E", "F", "W", "I", "T20", "D"]
fixable = ["ALL"]
unfixable = []

[lint.isort]
combine-as-imports = true
force-single-line = false

[lint.flake8-errmsg]
max-string-length = 50

[lint.pydocstyle]
convention = "google"

[format]
quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = false
line-ending = "auto"
docstring-code-format = true
docstring-code-line-length = "dynamic"
exclude = ["*.ipynb"]

[lint.per-file-ignores]
"tests/*.py" = [
    "D100",
    "D101",
    "D102",
    "D103",
    "D104",
    "D105",
    "D106",
    "D107",
    "D205",
]
